In [ ]:
#Bai1
n = int(input())
print(n*2)

3
6

In [ ]:
#Bai2
a = int(input())
b = int(input())

r = a/2

ans = (a*b) - ((r**2)*3.14)
print(round(ans,2))

In [ ]:
#Bai3
c = input()
if(c >= 'a' and c <='z'): print(c.upper())
else: print(c.lower())

In [ ]:
#Bai4
c = input()
if c >= 'a' and c <= 'z' or c >= 'A' and c >= 'Z': print(c,"la ky tu alphabet")
else: print(c,"khong la ky tu alphabet")

In [ ]:
#Bai5
c = input()
chuthuong = c.lower()
#print(chuthuong)
num = ord(chuthuong)
print(chr(num - 1))

In [ ]:
#Bai6
import math
a,b,c = map(int, input().split())
if a + b > c and c + b > a and a + c > b:
  p = (a+b+c)/2
  s = math.sqrt(p * (p-a) * (p-b) * (p-c))
  print(round(s,1))
else:
  print("Khong phai 3 canh cua tam giac")

3 4 5
6.0

In [ ]:
#Bai7
s = str(input())
print(s[4])
print(s[8])

hkahkhdashfkjahf
k
s

In [ ]:
#bai8
bac1 = 1.984
bac2 = 2.050
bac3 = 2.380
bac4 = 2.998
bac5 = 3.350
bac6 = 3.460
def solve(num):
  print("Tien phai tra la:",num)
chuho = str(input("Ten chu ho: "))
prenum = int(input())
curnum = int(input())
cal = curnum - prenum
ans  = 0
print("Ho va ten: "+chuho)

if cal <= 100:
  if cal <= 50: solve(cal*bac1)
  else: solve(50*bac1 + (cal-50)*bac2)
else:
  if cal >=101 and cal <= 200: solve(50*bac1 + 50*bac2 + bac3*(cal-100))
  elif cal >= 201 and cal <= 300: solve(50*bac1 + 50*bac2 + bac3*100 + (cal - 200)*bac4)
  elif cal>=301 and cal <=400:  solve(50*bac1 + 50*bac2 + bac3*100 + 100*bac4 + bac5*(cal-300))
  else: solve(50*bac1 + 50*bac2 + bac3*100 + 100*bac4 + bac5*100 + (cal-400)*bac)

In [ ]:
#1
n = int(input("Nhap so: "))
if n% 2 == 0: print("n la so chan")
else: print("n la so le")

Nhap so: 8
n la so chan

In [ ]:
#2
num = int(input("Nhap so: "))
if num % 10 == 5: print("True")
else : print("False")

Nhap so: 2
False

In [ ]:
#3
n = int(input("Nhap so: "))
if n % 3 == 0 and n % 5 == 0: print("True")
else: print("False")

Nhap so: 10
False

In [ ]:
#4
birth = int(input("Nhap nam sinh: "))
if 2025 - birth < 18: print("Khong du tuoi de bau cu")
else : print("Du tuoi de bau cu")

Nhap nam sinh: 2009
Khong du tuoi de bau cu

In [ ]:
#5
a = int(input("Nhap so dau tien: "))
b = int(input("Nhap so thu hai: "))
if  a == b: print("Hai so bang nhau")
else:
  if(a > b): print(a)
  else: print (b)

Nhap so dau tien: 5
Nhap so thu hai: 6
6

In [ ]:
#6
xau = input()
if xau >= '0' and xau <= '9': print("Day la so")
else: print("Day la chu")

g
Day la chu

In [ ]:
#7
score = float(input("Nhap diem cua ban: "))
if score >= 8 : print("Gioi")
elif score < 8 and score >= 6.5: print("Kha")
elif score < 6.5 and score >= 5: print("Trung Binh")
else : print("Yeu")

Nhap diem cua ban: 5.8
Trung Binh

In [ ]:
#8
year = int(input("Nhap so nam: "))
if year % 400 == 0 or year % 4 == 0 and year % 100 != 0: print("Day la nam nhuan")
else: print("Day khong phai la nam nhuan")

Nhap so nam: 2016
Day la nam nhuan

In [ ]:
#9
names = ["Không", "Một", "Hai", "Ba", "Bốn", "Năm", "Sáu", "Bảy", "Tám", "Chín"]

n = int(input("Nhập số (0-9): "))
print(names[n])

Nhập số (0-9): 7
Bảy

In [ ]:
#10
n = int(input("Nhap so diem cua ban: "))
if n >= 4: print("Qua mon")
else: print("Hoc lai")

In [ ]:
#11
n = int(input())
if 2025 - n  >= 18: print("Du 18 tuoi")
else: print("Khong du 18 tuoi")